@import './base.css';

@font-face {
  font-family: HaettenschweilerRegular;
  src: url('/fonts/Haettenschweiler-Regular.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

html,
body,
#app {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

#app {
  min-height: 100vh;
}
